# Dependency directories
node_modules/

# Compiled TypeScript code
/dist
/target

# IDE / editor directories
.vscode/
.idea

# Logs
*.log

# npm cache directory
.npm

# my env vars
.env

# currently ignoring package-lock
package-lock.json